body, html {
  display: flex;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center
}

.border{
  border: 10px solid #000;
}

.main {
    background-image: url("../img/bg.jpg");
    height: 500px;
    width: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range {
  padding: 100px;
  border: 1px solid black;
}

.btn{
  text-decoration: none;
  background-color: black;
  color: #fff;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  line-height: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}

.btn:hover{
  color: #fff;
  background: #000;
  text-decoration: line-through;
}